<div class="home-container">
  <div class="home-content">
    <h1 class="heading center">Playlist your feed!</h1>
    <form (submit)="handleSubmit()">
      <input class="playlist-input" required [(ngModel)]="link" name="link"
        placeholder="Input public facebook group or event link">
      <p class="center">
        <button type="submit" class="btn-big">Playlist it</button>
      </p>
      <div *ngIf="invalid" class="alert-danger">
        This is not a valid facebook link
      </div>
      <p class="center help-text">
        Or you can try one of the public playlists
        <a class="label" (click)="navigateToPublic()">here</a>
      </p>
    </form>
  </div>
</div>
